<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">

  {%- if site.title-img -%}
    <a class="navbar-brand navbar-brand-logo" href="{{ '/' | absolute_url }}"><img src="{{ site.title-img | relative_url }}" alt=""></a>
  {%- endif -%}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      <!-- Navigation with HRML -->
       <!--
      <li class="nav-item dropdown">
        <a class="nav-link" href="">About Us</a>
      </li>
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publications</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="">FROM 2025</a>
                <a class="dropdown-item" href="">2024 - 2023</a>
            </div>
      </li>
      -->
      <!-- Navigation links with navbar-links -->

      {%- for link in site.navbar-links -%}
        {%- if link[1].first %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ link[1][0][1] | relative_url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ link[0] }} </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              {%- for childlink in link[1] -%}
                {%- for linkparts in childlink %}
                  <a class="dropdown-item" href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
                {%- endfor -%}
              {%- endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}

      <!-- Search a post -->
      {% if site.post_search %}
        <li class="nav-item">
          <a class="nav-link" id="nav-search-link" href="#" title="Search">
            <span id="nav-search-icon" class="fa fa-search"></span>
            <span id="nav-search-text">Search</span>
          </a>
        </li>
      {%- endif -%}

    </ul>
  </div>

  {% if site.navbar-extra %}
    {% for file in site.navbar-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}
</nav>

{% include search.html %}
