----
layout: page
title: "Navbar demo"
----

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>CHIRP</title>
</head>
<body>

<!--Defines a navigation section of the website-->    
<nav>
    <!--Anchor tag (link) — used to create clickable links-->  
    <!--#home Links to a section on the same page with that id="home"... etc-->
    <a href="#home">Home</a> |
    <a href="#about-us">About Us</a> |
    <a href="#publications">Publications</a> |
    <a href="#projects">Projects</a>
</nav>

<!-- add Home section here -->
<section id="home">
  <h2>Home</h2>
  <p>Welcome to the Chirp Research Group!</p>
</section>

<section id="about-us">
  <h2>About Us</h2>
  <p>CHIRP (Collective for Holistic Interdisciplinary Research in Photonics) is a research group dedicated to the study and development of advanced technologies in photonics, integrating interdisciplinary and holistic approaches. Beyond its research work, CHIRP is a formative and collaborative space where students can strengthen their passion for science, share innovative ideas and actively participate in projects that generate real impact. By joining CHIRP, members have the opportunity to grow academically and professionally in an environment that fosters creativity, teamwork and critical thinking.</p>
</section>

<section id="publications">
  <h2>Publications</h2>
  <p>List of pubs here.</p>
</section>

<section id="projects">
  <h2>Projects</h2>
  <p>Ongoing/previous projects.</p>
</section>

</body>
</html>


