.carousel {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  z-index: -1;

  animation: slide 16s infinite alternate ease-in-out;
}

.carousel ul {
  display: flex;
  padding: 0;
  width: 100%;
}

.carousel li {
  list-style: none;
  width: 100%;
  position: relative;
}

.carousel ul li img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.chirp-logo {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 8px;
}

/*@keyframes slide {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%}
}*/
