.chirp-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 8px;
}

/*@keyframes slide {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%}
}*/
